# Problema de negócio
Coletar dados de livros no site  https://books.toscrape.com

1. Saída: ( Produto final )

1.1. A resposta para a pergunta.

    Fornecer uma tabela com os dados coletados
    
1.2. Formato da entrega
    
    Tabela
    
1.3. Local da entrega

    csv com todas as informações solicitadas

2. Processo ( Passo a Passo )

2.1. Passo a passso para construir a tabela

    Contruir a tabela em um dataframe

2.2. Definir o formato da entrega ( Tabela)

Coletar dados so site:
- Tabela com as seguintes colunas
    id	Catálogo	Nome do livro	Preço 	Avaliação 	Disponibilidade	dataScraping
    
    - Definição do schema: Colunas e seu tipo
    
    
- Entrega do produto final
3. Decidir o local de entrega

    - Tabela csv



4. Coletar os seguintes dados da página:

• Catálogo:

– Classics
– Science Fiction
– Humor
– Business

• Coletar os seguintes dados de cada livro:

– Nome do livro
– Preço em libras
– Avaliação dos consumidores
– Disponível em estoque

1. Coletar os seguintes dados da página: https://books.toscrape.com

    • Catálogo:
   
   – Classics
    
    – Science Fiction
    
    – Humor
    
    – Business
    
    • Coletar os seguintes dados de cada livro:
    
    – Nome do livro
    
    – Preço em libras
    
    – Avaliação dos consumidores
    
    – Disponível em estoque

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
from datetime import datetime
import re

In [2]:
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5), AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}

# Categória Classics
lista=['classics_6','science-fiction_16', 'humor_30', 'business_35']

#empty dataframe
data_livros=pd.DataFrame()

for i in lista:

    url='https://books.toscrape.com/catalogue/category/books/'+i+'/index.html'


    page = requests.get( url, headers=headers )

    soup=BeautifulSoup( page.text, 'html.parser' )
    livros=soup.find('ol', class_="row")


    #================== nome dos livros===========================
    livro_list=livros.find_all('article', class_="product_pod")
    livro_name=[p.find_all('a')[1].get('title') for p in livro_list]

    # ====================Preços dos livros=====================
    precos=livros.find_all('p', class_="price_color" )
    preco_livros=[p.get_text() for p in precos]
    precos_livros_numerico=[p[2:] for p in preco_livros]

    # ===================Item em estoque========================
    Estoque=livros.find_all('p',class_="instock availability" )
    Item_Estoque=[list(filter(None, p.get_text().split('\n')))[1] for p in Estoque]

    # ===================Estrelas=============================
    stars=livros.find_all('article',class_="product_pod" )
    stars[1].find_all('p')[0]
    star=[p.find_all('p')[0] for p in stars]
    

    #===================Adicionando o catálogo==================    
    catalogo=[]
    for j in range(len(livro_name)):
        catalogo.append(i)
 
    #====================dataFrame==============================
    data_livros=data_livros.append(pd.DataFrame([livro_name, Item_Estoque,precos_livros_numerico,catalogo, star]).T,ignore_index=True )
        
    
data_livros.columns=['name_livro','Estoque','valor_libras','catalogo', 'star']

# Aplicar regex para pegar apenas a quantidade de estrelas
# ============mudar para string===========================
data_livros['star']=data_livros['star'].apply(str)
#=============aplicando regex=============================
data_livros['star']=data_livros['star'].apply(lambda x : re.search('([A-Z]\w+)', x ).group(1) if pd.notnull(x) else x ) 

#================ Utilizando o regex no catálogo====================
data_livros['catalogo']=data_livros['catalogo'].apply(lambda x : re.search('(\w+.\w+)_\d+', x ).group(1) if pd.notnull(x) else x )

In [3]:
data_livros.head()

,name_livro,Estoque,valor_libras,catalogo,star
0,The Secret Garden,In stock,15.08,classics,Four
1,The Metamorphosis,In stock,28.58,classics,One
2,The Pilgrim's Progress,In stock,50.26,classics,Two
3,The Hound of the Baskervilles (Sherlock Holmes...,In stock,14.82,classics,Two
4,Little Women (Little Women #1),In stock,28.07,classics,Four

In [4]:
data_livros.to_csv('books.csv', index=False)

In [5]:
data_livros.apply(lambda x: len(x.unique()))

name_livro      57
Estoque          1
valor_libras    57
catalogo         4
star             5
dtype: int64

In [6]:
# Drop duplicates
data_livros=data_livros.drop_duplicates()

In [7]:
data_livros

,name_livro,Estoque,valor_libras,catalogo,star
0,The Secret Garden,In stock,15.08,classics,Four
1,The Metamorphosis,In stock,28.58,classics,One
2,The Pilgrim's Progress,In stock,50.26,classics,Two
3,The Hound of the Baskervilles (Sherlock Holmes...,In stock,14.82,classics,Two
4,Little Women (Little Women #1),In stock,28.07,classics,Four
5,Gone with the Wind,In stock,32.49,classics,Three
6,Candide,In stock,58.63,classics,Three
7,Animal Farm,In stock,57.22,classics,Three
8,Wuthering Heights,In stock,17.73,classics,Three
9,The Picture of Dorian Gray,In stock,29.70,classics,Two
10,The Complete Stories and Poems (The Works of E...,In stock,26.78,classics,Four
11,Beowulf,In stock,38.35,classics,Two
12,And Then There Were None,In stock,35.01,classics,Two
13,The Story of Hong Gildong,In stock,43.19,classics,Four
14,The Little Prince,In stock,45.42,classics,Two
15,Sense and Sensibility,In stock,37.46,classics,One
16,Of Mice and Men,In stock,47.11,classics,Two
17,Emma,In stock,32.93,classics,Two
18,Alice in Wonderland (Alice's Adventures in Won...,In stock,55.53,classics,One
19,Mesaerion: The Best Science Fiction Stories 18...,In stock,37.59,science-fiction,One
20,Join,In stock,35.67,science-fiction,Five
21,"William Shakespeare's Star Wars: Verily, A New...",In stock,43.30,science-fiction,Four
22,The Project,In stock,10.65,science-fiction,One
23,Soft Apocalypse,In stock,26.12,science-fiction,Two
24,Sleeping Giants (Themis Files #1),In stock,48.74,science-fiction,One
25,Arena,In stock,21.36,science-fiction,Four
26,Foundation (Foundation (Publication Order) #1),In stock,32.42,science-fiction,One
27,The Restaurant at the End of the Universe (Hit...,In stock,10.92,science-fiction,One
28,Ready Player One,In stock,19.07,science-fiction,Four
29,"Life, the Universe and Everything (Hitchhiker'...",In stock,33.26,science-fiction,Two
30,Dune (Dune #1),In stock,54.86,science-fiction,One
31,Do Androids Dream of Electric Sheep? (Blade Ru...,In stock,51.48,science-fiction,One
32,Three Wishes (River of Time: California #1),In stock,44.18,science-fiction,Two
33,The Last Girl (The Dominion Trilogy #1),In stock,36.26,science-fiction,Two
34,Having the Barbarian's Baby (Ice Planet Barbar...,In stock,34.96,science-fiction,Four
35,The Long Haul (Diary of a Wimpy Kid #9),In stock,44.07,humor,One
36,Old School (Diary of a Wimpy Kid #10),In stock,11.83,humor,Five
37,I Know What I'm Doing -- and Other Lies I Tell...,In stock,25.98,humor,Four
38,"Hyperbole and a Half: Unfortunate Situations, ...",In stock,14.75,humor,Five
39,Dress Your Family in Corduroy and Denim,In stock,43.68,humor,Three
40,Toddlers Are A**holes: It's Not Your Fault,In stock,25.55,humor,One
41,When You Are Engulfed in Flames,In stock,30.89,humor,Five
42,Naked,In stock,31.69,humor,Three
43,"Lamb: The Gospel According to Biff, Christ's C...",In stock,55.50,humor,Five
44,Holidays on Ice,In stock,51.07,humor,Two
45,The Dirty Little Secrets of Getting Your Dream...,In stock,33.34,business,Four
46,The Third Wave: An Entrepreneurâs Vision of ...,In stock,12.61,business,Five
47,The 10% Entrepreneur: Live Your Startup Dream ...,In stock,27.55,business,Three
48,Shoe Dog: A Memoir by the Creator of NIKE,In stock,23.99,business,Two
49,Made to Stick: Why Some Ideas Survive and Othe...,In stock,38.85,business,Five
50,Quench Your Own Thirst: Business Lessons Learn...,In stock,43.14,business,One
51,The Art of Startup Fundraising,In stock,21.00,business,Three
52,Born for This: How to Find the Work You Were M...,In stock,21.59,business,Five
53,The E-Myth Revisited: Why Most Small Businesse...,In stock,36.91,business,One
54,"Rich Dad, Poor Dad",In stock,51.74,business,One
55,The Lean Startup: How Today's Entrepreneurs Us...,In stock,33.92,business,Three
56,Rework,In stock,44.88,business,Two